.contenedor{
    display: flex;
    grid-template-columns: auto;
}
.item{
    width: 30%;
    background-color: rgb(21, 100, 152);
}
@media (max-width: 800px){
    .contenedor{
        flex-direction:column;
    }
    .item{
        width: 100%;
    }

}

